* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  width: 100%;
}

.page-layout {
  width: 100%;
  display: grid;
  grid-template-areas:  'header header'
  'content sidebar'
  'footer footer';
  grid-template-columns:  1fr minmax(250px, 25%);
}

.header {
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}  

.content {
  grid-area: content;
}

.sidebar {
  grid-area: sidebar;
}

.search-form {
  margin-left: auto;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-area: footer;
}

.footer-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}